<!DOCTYPE html>
{% if title %}
    <title>{{ title }} - My Application</title>
{% else %}
    <title>My Application</title>
{% endif %}
<div>Blog:
    <a href="{{ url_for('index') }}">Home</a>
    {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor%}
        </ul>
    {% endif %}
{% endwith %}
{% block body %}{% endblock %}